.info-point {
  background: rgba(0, 0, 0, 0.5);
  color: #a3dcde;
  font-size: 14px;
  width: 170px;
  height: 106px;
  padding: 16px 12px 0;
  margin-bottom: 30px;
  will-change: transform;
  box-sizing: content-box;
}

.info-point-wrap:after,
.info-point-wrap:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-top: 1px solid #4b87a6;
}

.info-point-wrap:before {
  left: 0;
  border-left: 1px solid #4b87a6;
}

.info-point-wrap:after {
  right: 0;
  border-right: 1px solid #4b87a6;
}

.info-point-wrap-inner:after,
.info-point-wrap-inner:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #4b87a6;
}

.info-point-wrap-inner:before {
  left: 0;
  border-left: 1px solid #4b87a6;
}

.info-point-wrap-inner:after {
  right: 0;
  border-right: 1px solid #4b87a6;
}

.info-point-line {
  position: absolute;
  top: 7px;
  right: 12px;
  display: flex;
}

.info-point-line .line {
  width: 5px;
  height: 2px;
  margin-right: 5px;
  background: #17e5c3;
}

.info-point-content .content-item {
  display: flex;
  height: 28px;
  line-height: 28px;
  background: rgba(35, 47, 58, 0.6);
  margin-bottom: 5px;
}

.info-point-content .content-item .label {
  width: 60px;
  padding-left: 10px;
}

.info-point-content .content-item .value {
  color: #ffffff;
}

.provinces-label-wrap {
  transform: translate(50%, 200%);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  width: 200px;
  height: 53px;
  border-radius: 30px 30px 30px 0px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
}

.provinces-label .number {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}

.provinces-label .number .unit {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
  padding-left: 5px;
}

.provinces-label .name {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.provinces-label .name span {
  display: block;
}

.provinces-label .name .en {
  color: #fff;
  font-size: 10px;
  opacity: 0.5;
  font-weight: 700;
}

.provinces-label .no {
  color: #7efbf6;
  text-shadow: 0 0 5px #7efbf6, 0 0 10px #7efbf6;
  font-size: 30px;
  font-weight: 700;
}

.provinces-label .yellow .no {
  color: #fef99e !important;
  text-shadow: 0 0 5px #fef99e, 0 0 10px #fef99e !important;
}

.china-label {
  color: #fff;
  font-size: 12px;
  will-change: transform;
}

.china-label .other-label {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  will-change: transform;
}

.china-label.blur {
  filter: blur(2px);
  opacity: 0.5;
}

.china-label .label-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.map-label {
  padding: 5px;
  color: #fff;
  will-change: transform;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4.5px;
  -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 20%, rgba(255, 255, 255, 0.3));
}

.map-label .other-label {
  display: flex;
  flex-direction: column;
}

.map-label span {
  font-size: 46px;
}

.map-label span:last-child {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #a7d5ef;
}

.decoration-label .label-icon {
  display: block;
  width: 40px;
  height: 40px;
}

.other-label {
  transform: translateY(200%);
  opacity: 0;
  background: none;
  will-change: transform;
}